.col-sm-offset-3 {
    margin-left: 0% !important;
}

.row{
    margin-top: 65px;
}

.page-header{
    margin-top: 10px;
    padding-bottom: 5px;
    color: #094fa4;
    font-family: 'BBVA';
    border-bottom: 2px solid #009ee5;
}

.menu{
    position: fixed;
    margin-left: -3px;
    padding-top: 200px;
    font-size: 25px;
    color: rgb(9,79,168);
    z-index:9999;
    cursor: pointer;
}

.menu:hover{
    color: rgb(0,158,229);
}

.rows{
    margin-top: 10px;
}
